- hbreadcrumb '首页', '#'


#left-weibo-box
  =render 'weibo/parts/current_user_weibo_profile'

#right-weibo-box
  =render 'weibo/parts/navigation'
  
  .friends
    - if !@friends.blank?
      %ul
      - @friends.each do |friend|
        - info = friend.json_hash
        %li
          .avatar= link_to(image_tag(info['avatar_large']), "/weibo_users/#{info['id']}")
          .name= link_to info['screen_name'], "/weibo_users/#{info['id']}"