- hbreadcrumb '首页', '/'
- hbreadcrumb '本地微博用户', '/weibo_users'

.page-weibo-users
  %ul
    - WeiboUser.all.each do |weibo_user|
      %li
        =link_to weibo_user.screen_name, "/weibo_users/#{weibo_user.weibo_user_id}"
