- hbreadcrumb '首页', '#'


#left-weibo-box
  =render 'weibo/parts/current_user_weibo_profile'

#right-weibo-box
  =render 'weibo/parts/navigation'
  =render 'weibo_users/parts/search_users'


  = form_tag '/weibo', :method => 'create' do
    .field
      %label 微博正文
      = text_area_tag 'content', nil, :rows => 6, :cols => 45
    .field.submit
      %a.form-submit-button{:href=>'javascript:;'} 提交