- hbreadcrumb '首页', '/'
- hbreadcrumb "我发出的评论", '#'



#left-weibo-box
  =render 'weibo/parts/current_user_weibo_profile'

#right-weibo-box
  =render 'weibo/parts/navigation'

  =render 'weibo/parts/comments_menu'

  = link_to '刷新','/weibo_comments/refresh_by_me',:method => 'post'

  .page-weibo-comments
    - if !@sent_comments.blank?
      .comments
        - @sent_comments.each do |comment|
          .comment
            .text= comment.text
    - else
      本地没有我的评论数据
